@charset "utf-8";

/* CSS Document */

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'Vollkorn', serif;
    font-size: 21px;
    color: #333;
    /* controls sticky footer */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* end sticky footer control */
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

#main {
    /* Used for sticky footer. The main section will take up all the available free space on the page that is not taken up by the footer. */
    flex: 1 0 auto;
}

footer {
    /* Use for sticky footer. The footer will take up as much vertical space as it needs and not a pixel more. */
    font-family: 'Lato', sans-serif;
    flex: 0 0 auto;
    background: #335566;
    color: #eee;
    padding: 2.5rem 0 10rem 0; /* adjust if necessary */
    margin-top: 1rem; /* adjust if necessary */
}

footer h5 {
    color: #000000;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #000;
    text-decoration: none;
}

.jumbotron {
    padding-top: 20rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    background-color: #335566;
    color: #fff;
    background-image: url('../../../media/large/0a/0af178fd7b9564a461a8be7d75fccc28.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* NOTE: if you use a jumbotron background image you will need to also uncomment the padding in the xl media query */

.jumbotron h1, .jumbotron h2 {
    text-shadow: 1px 1px 10px #000;
}
.required {
    color: red;
}
.navbar{
    margin-bottom: 0;
}
nav, .navbar-link {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}

p:first-of-type {
    margin-top: 2rem;
}
/* Next and Previous Pagination */
.pager {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
      margin-bottom: 60px;
    text-align: left;
}

form {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Post Comments */
.comment-body {
    overflow: hidden;
    position: relative;
}
.comment-read-more {
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: .85;
    background-color: #fff;
    position: absolute;
    
}
.comment-read-more h6{
    font-size: 1.5rem;
    opacity: 1.0;
    color: #333;
}

.comment-read-more:hover {
    cursor: pointer;
}
.comment-read-more h6:hover{
    font-weight: bold;
    color: blue;
}

/*===================Bootstrap 3 Media Queries ==========*/
/*=====================Mobile First Method===============*/

/* Custom, iPhone Retina */
@media only screen and (max-width: 479px) {
    body {

    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    body {

    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    body {

    }
    .navbar {
        border-radius: 0 !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    body {

    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    body {

    }
    .jumbotron {
      padding-top: 30rem;/*NOTE: Uncomment out this line if you are using a background image in the jumbotron */
    }
    .container {
        width: 970px;
    }
}


