{% extends 'layout.html' %}

{% block head %}
<meta name="description" content="{{ post.meta_description }}">
{% endblock %}

{% block body %}

  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.published_date|date('F j, Y') }}</p>
    {{ post.content_html|raw }}
  </div><!-- /.blog-post -->

  <hr>
  <div class="blog-post">
    <h1>Have a Comment? Or just say hello.</h1>
    {% include '_contactForm.html' %}
  </div>

{% endblock %}
