{% extends '@admin/layout.html' %} {% block body %}
<h2>Comments</h2>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#new" data-toggle="tab">New Comments</a></li>
        <li role="presentation"><a href="#all" data-toggle="tab">All Comments</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content u-m-t-2">
        <div role="tabpanel" class="tab-pane active" id="new">
            {% for c in comments if c.approved == 'N' %} {{ _self.commentRow(c, 'Y') }} {% else %}
            <h4>No new comments</h4> {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane" id="all">
            {% for c in comments if c.approved == 'Y' %} {{ _self.commentRow(c, 'N') }} {% else %}
            <h4>No comments found</h4> {% endfor %}
        </div>
    </div>

</div>

{% macro commentRow(c, s) %}

    <div class="panel panel-success">
       <div class="panel-heading"> <h4>{{ c.name }} {{ c.email }}, {{ c.title }}, {{ c.created_date|date('F j, Y') }}</h4></div>
       <div class="panel-body">
         <p>{{ c.comment }}</p>
             <p><a href="{{ pathFor('changeCommentStatus',{'commentId': c.id, 'newStatus': s}) }}">{% if s == 'Y' %}Approve{% else %}Disapprove{% endif %}</a> | <a href="{{ pathFor('deleteComment', {'commentId': c.id}) }}" class="deleteButton"><span class="text-danger">Delete</span></a></p> 
       </div>
       
      
    </div>

{% endmacro %} {% endblock %}