{% extends 'layout.html' %}

  {% block head %}
  <script type="text/javascript">var adminSegment = '{{ setting.adminSegment }}';</script>
  <meta name="robots" content="noindex, nofollow">
  {% endblock %}

      {% block afterBodyOpen %}
      <div class="modal fade image-upload-modal" tabindex="-1">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body">
              {% include 'admin/_uploadImageForm.html' %}
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block body %}
      {% endblock %}

      {% block sidebar %}
          <div class="sidebar-module">
            <h4>Tools</h4>
            <ol class="list-unstyled">
              <li><a href="#" data-toggle="modal" data-target=".image-upload-modal">Photos</a></li>
            </ol>
          </div>
      {% endblock %}

      {% block footer %}
      <script src="{{ basePath() }}/assets/{{ theme }}/js/adminScript.js"></script>
      {% endblock %}
