<div class="row">
    <div class="col-xs-11 col-xs-offset1">
        {% for c in postComments(post.id) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ c.name }}&nbsp;&nbsp;<small class="">{{ c.created_date|date('F j, Y') }}</small></h3>
            </div>
            <div class="panel-body comment-body">
                {{ c.comment }}
            </div>
        </div>
        {% else %}
        <p>Be the first to comment!</p>
        {% endfor %}
    </div>
</div>

<div class="comment-read-more" style="display:none;"><h6>Read more...</h6></div>