/*
 * Basic Style
 */

body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/*
 * Markdown Code Format
 */
.hljs {
  white-space: pre;
  word-wrap: normal;
}

textarea {
  resize: vertical;
}
