/*
 * Basic Style
 */

body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

/*
 * Misc
 */
.publish-date li {
  padding: 0 5px 0 5px;
}
.post-title-error {
  color: #c9302c;
}
.post-title-ok {
  color: #5cb85c;
}

/*
 * Markdown Code Format
 */
.hljs {
  white-space: pre;
  word-wrap: normal;
}

textarea {
  resize: vertical;
}
