.navbar-static-top {
  margin-bottom: 19px;
}

/*
 * Misc
 */
.publish-date li {
  padding: 0 5px 0 5px;
}
.post-title-error {
  color: #c9302c;
}
.post-title-ok {
  color: #5cb85c;
}

/*
 * Markdown Code Format
 */
.hljs {
  white-space: pre;
  word-wrap: normal;
}

textarea {
  resize: vertical;
}

.gallery-image-path {
	width: 100%;
}
.thumbnail .caption .height,
.thumbnail .caption .width {
	width: 40px;
	text-align: center;
}
